body {
	margin-top:0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;


	font-size:15px;
	color:#fff;

	background-color:white;
	
}
h1, h2, h3, h4, h5, h6{
	margin:0px;
}
*,
*:before,
*:after{
	-webkit-box-sizing:border-box;
	box-sizing: border-box;}


	/*===================================Container=============================*/
	.container{
	width:100%;
	max-width: 1200px;
	margin: 0 auto;

}



/*===================================INTRO1=============================*/
/*======================================================================*/
.fixedheader{
  height: 60px;
  background-color: #aa9ac3;
  width: 100%;
  position: fixed;
  margin-top: 0px;
	}

.phonenumber{
	height: 60px;
	width: 50%;
	float:left;
	text-align: center;
	font-size: 22px;
	color: black;
	
}
.mail{
	height: 60px;
	width: 50%;
	
	float: right;
	text-align: center;
	font-size: 22px;
	color: black;
	
}

.blocks1{
	height: 810px;
	
	width: 100%;
	background:  #1e1e21 url("images/алмазное бурение.jpg") center no-repeat;
	background-size:cover;
	color: black;
}

.textlogo{
	font-size:100px;
	padding-top: 120px;
	text-align: right;
}

/*===================================INTRO2=============================*/
/*======================================================================*/

.intro2{
	color: black;
	font-size: 30px;
	background-color: #d9eafa;
}

.container-text{
	max-width: 1000px;
	height: 760px;
	margin:0 auto;
	text-align: center;

}

.Big-text{
	height: 60px;
	font-size: 35px;
	text-align: left;
	color:black;
	padding-top: 20px;
}




/*===================================INTRO3=============================*/
/*======================================================================*/

.intro3{
	color: black;
	background-color: #d9eafa;
}

.Raboty{
	width: 100%;

	

}

.ZakRaboty{
	height: 60px;
	font-size: 35px;
	text-align: left;
	color:black;
	padding-top: 20px;
}

.Rabotyblock{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

}

.Raboty1{
	width: 50%;
	height: 900px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.Raboty2{
	width: 50%;
	height: 900px;
}


/*=====================================INTRO4=================================*/
/*============================================================================*/
.intro4{
	height: 760px;
}

.blocks4{
	height: 760px;
	background-color: #aa9ac3;

}

.intro4logo{
	height: 760px;
	width: 30%;
	float: left;

}

.intro4text{
	height: 760px;
	width: 70%;
	float: right;
	
}

/*======================================block=================================*/
.block1{
    height: 760px;
    width: 32%;
    float: left;
   

}

.block3{
    height: 760px;
    width: 32%;
    float: right;
    text-align: center;

}

.block2{
    height: 760px;
    width: 32%;
    float: right;
}

.zagolovog{
    text-align: center;
	font-size: 30px;
	color: black;
	margin-top: 20px;
}

.zagolovok{
	text-align: center;
	font-size: 30px;
	color: black;
	margin-top: 60px;


}

.but{
	text-align: center;
	
}

.buttext{
	font-size: 19px;
	margin-top: 14px;
	line-height: 123%;
}