body {
	margin-top:0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;


	font-size:15px;
	color:#fff;

	background-color:white;
	
}
h1, h2, h3, h4, h5, h6{
	margin:0px;
}
*,
*:before,
*:after{
	-webkit-box-sizing:border-box;
	box-sizing: border-box;}


	/*===================================Container=============================*/
	.container{
	width:100%;
	max-width: 1200px;
	margin: 0 auto;

}



/*===================================INTRO1=============================*/
/*======================================================================*/
.fixedheader{
  height: 60px;
  background-color: #aa9ac3;
  width: 100%;
  position: fixed;
  margin-top: 0px;
	}

.phonenumber{
	height: 60px;
	width: 50%;
	float:left;
	text-align: center;
	font-size: 22px;
	color: black;
	
}
.mail{
	height: 60px;
	width: 50%;
	
	float: right;
	text-align: center;
	font-size: 22px;
	color: black;
	
}

.blocks1{
	height: 40vw;
	
	width: 100%;
	background:  #1e1e21 url("images/Electromontaj raboty.jpg") center no-repeat;
	background-size:cover;
	color: black;
}

.textlogo{
	position: relative;
	right: -1vw;
	font-size:6vw;
	padding-top: 40px;
	text-align: right;
}

/*===================================INTRO2=============================*/
/*======================================================================*/

.intro2{
	color: black;
	font-size: 30px;
	background-color: #d9eafa;
}

.container-text{
	max-width: 1000px;
	padding-bottom: 40px;
	margin:0 auto;
	text-align: center;

}

.Big-text{
	height: 60px;
	font-size: 35px;
	text-align: left;
	color:black;
	padding-top: 20px;
}




/*===================================INTRO3=============================*/
/*======================================================================*/

.intro3{
	color: black;
	background-color: #d9eafa;
}

.Raboty{
	width: 100%;

	

}

.ZakRaboty{
	height: 60px;
	font-size: 35px;
	text-align: left;
	color:black;
	padding-top: 20px;
}

.Rabotyblock{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

}

.Raboty1{
	width: 50%;
	height: 900px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.Raboty2{
	width: 50%;
	height: 900px;
}


/*=====================================INTRO4=================================*/
/*============================================================================*/
.intro4{
    background: url(images/Footer_bg.png) center no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}


.intro4logo{
    height: 360px;
    width: 360px;
    float: left;

}

.intro4text{
    width: 500px;
    float: right;

}

/*======================================block=================================*/
.block1{

    width: 33.33333%;
    height: 100%;
    float: left;
    padding-top: 50px;

}

.block3{

    width: 33.33333%;
    height: 100%;
    float: right;
    text-align: center;
    padding-top: 50px;

}

.block2{

    width: 33.33333%;
    height: 100%;
    float: right;


}
.block12{
    width: 66.66666%;
}

.block12text{
    width: 100%;
    height: 80%;
}

.block12logo{
    width: 100%;
    height: 20%;
}

.zagolovog{
    text-align: center;
    font-size: 30px;
    color: black;
    margin-top: 20px;
}

.zagolovok{
    text-align: center;
    font-size: 30px;
    color: black;
    margin-top: 60px;


}

.but{
    text-align: center;

}

.buttext{
    font-size: 19px;
    margin-top: 14px;
    line-height: 123%;
    color: white;

}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.no-wrap{
    flex-wrap: nowrap;
}

.footer_text {
    width: 50%;
    text-align: center;
}

.footer_text div{
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.footer_text_big{
    color:black;
    font-size: 30px;
}

.footer_menu {
    margin-top: 6px;
    width: 300px;
    height: 300px;
}

.footer_menu a {
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: 100;
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    transition: 0.1s;

}

.footer_menu a:hover {
    transform: scale(1.1);
    color: #bff3ff;

}