body {
	margin-top:0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: 'Merriweather', serif;
	text-decoration: none;


	font-size:15px;

	background-color:white;
	
}
h1, h2, h3, h4, h5, h6{
	margin:0px;
}
*,
*:before,
*:after{
	-webkit-box-sizing:border-box;
	box-sizing: border-box;}

/*=================================Container==============================*/
.container{
	width:80vw;
	margin: 0 auto;

}






















/*===================================INTRO1===================================*/
/*============================================================================*/
/*===================================fixedeader===============================*/
.intro1{

	

}

.fixedheader{
  height: 60px;
  background: #1e1e21 url("images/intro111.jpg") center no-repeat;
  background-size:cover;
  width: 100%;
  position: fixed;
  margin-top: 0px;
  z-index: 20000;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.phonenumber{
	height: 60px;
	width: 50%;
	float:left;
	text-align: center;
	font-size: 22px;
	color: black;
	
}
.mail{
	height: 60px;
	width: 50%;
	
	float: right;
	text-align: center;
	font-size: 22px;
	color: black;
	
}

/*===================================header==================================*/



.header{
  height: 60px;
  padding: 60px;
  background: url(images/headerBG.png) center no-repeat;
  background-size: cover;
  width: 100%;

}

.logo{
	height: 60px;
	width: 25%;
	float: left;
	background: url(Logo/.png) center no-repeat;
    background-size: contain;
	
    
}

.head {
	height: 46vw;
	width:100%;
	background: url("images/Reviews.jpg") center no-repeat;
	background-size:cover;
	color:black;
}

.textlogo{
	color: #fff;
	position: relative;
	right: 2vw;
	font-size:6vw;
	padding-top: 40px;
	text-align: right;
}

.container_header{
	width: 100%;
	height: 60px;
}

.phonenumber{
	display: flex;
	flex-wrap: wrap;
}

/*====================================buttons================================*/
.buttons{
	height: 60px;
	width: 50%;
	float: right;
	
}

.butt{
	text-decoration: none;
	color: #fff;
}

.butt:hover{
	transform: scale(1.1);
	color: #bff3ff;
}

.contacts{
     height: 60px;
     width: 32%;
     display: inline-block;
     font-size: 28px;
     text-align: center;
     padding-top: 15px;

}

.reviews{
     height: 60px;
     width: 32%;
     display: inline-block;
     font-size: 28px;
     text-align: center;
     padding-top: 15px;
}

.company{
     height: 60px;
     width: 32%;
     display: inline-block;
     font-size: 28px;
     text-align: center;
     padding-top: 15px;


}

/*=====================================INTRO2=================================*/
/*============================================================================*/
.blocks2{
	height: 100%;
	background-color: #32333c;
}

.buttittle{
	height: 60px;
	font-size: 35px;
	text-align: center;
	color:white;
	font-weight: 500;
	padding-top: 20px;
	margin-bottom: 40px;
}

.butphoto{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 15px;

}

/*=====================================Photo=================================*/
/*============================================================================*/
.photo1{
	height: 550px;
	width: 350px;
	z-index: 1;
	margin:10px;
	background: url("Reviews/Sirs-reviews.jpg") center no-repeat;
	background-size: cover;
    border-radius: 15px;	
    transition: .5s;
    
}

.photo2{
	height: 550px;
	width: 350px;
	z-index: 1;
	margin:10px;
	background: url("Reviews/Electrosert-review.jpg") center no-repeat;
	background-size: cover;
    border-radius: 15px;	
    transition: .5s;
    
}

.photo3{
	height: 550px;
	width: 350px;
	border-radius: 15px;
	z-index: 1;
	margin:10px;
	background: url("Reviews/FSB-review.jpg") center no-repeat;
	background-size: cover;
	transition: .5s;
	
}

.photo4{
	height: 550px;
	width: 350px;
	border-radius: 15px;
	z-index: 1;
	margin:10px;
	background: url("Reviews/Linde-review.jpg") center no-repeat;
	background-size: cover;
	background-size: cover;
	transition: .5s;
	
}

.photo5{
	height: 550px;
	width: 350px;
	border-radius: 15px;
	z-index: 1;
	margin:10px;
	background: url("Reviews/Linde-sks-review.jpg") center no-repeat;
	background-size: cover;
	transition: .5s;
	
}

.photo6{
	height: 550px;
	width: 350px;
	border-radius: 15px;
	z-index: 1;
	margin:10px;
	background: url("Reviews/LZM.jpg") center no-repeat;
	background-size: cover;
	transition: .5s;
	
}

.photo7{
	height: 550px;
	width: 350px;
	border-radius: 15px;
	z-index: 1;
	margin:10px;
	background: url("Reviews/VNIIPO-review.jpg") center no-repeat;
	background-size: cover;
	transition: .5s;
	
}

.scale1 {
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	transition: .2s;
	/*z-index: 2000;*/
	
	
}

.scale1:hover {
	transform: scale(1.15);
	z-index: 2001;

	
}

.hover {
	transition: .3s;

	
}

.hover:hover {
	transform: scale(1.1);
	color: #bff3ff;
	
}

/*=====================================INTRO4=================================*/
/*============================================================================*/
.intro4{
	background: url(images/Footer_bg.png) center no-repeat;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;

}


.intro4logo{
	height: 360px;
	width: 360px;
	float: left;
    background: url(Logo/logoOpacity.png) center no-repeat;
    background-size: contain;
}

.intro4text{
	width: 500px;
	float: right;
	
}

/*======================================block=================================*/
.block1{
    
    width: 33.33333%;
    height: 100%;
    float: left;
    padding-top: 50px;

}

.block3{
    
    width: 33.33333%;
    height: 100%;
    float: right;
    text-align: center;
    padding-top: 50px;

}

.block2{
  
    width: 33.33333%;
    height: 100%;
    float: right;

    
}
.block12{
	width: 66.66666%;
}

.block12text{
	width: 100%;
	height: 80%;
}

.block12logo{
	width: 100%;
	height: 20%;
}

.zagolovog{
    text-align: center;
	font-size: 30px;
	color: black;
	margin-top: 20px;
}

.zagolovok{
	text-align: center;
	font-size: 30px;
	color: black;
	margin-top: 60px;


}

.but{
	text-align: center;
	
}

.buttext{
	font-size: 19px;
	margin-top: 14px;
	line-height: 123%;
	color: white;
	
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.no-wrap{
	flex-wrap: nowrap;
}

.footer_text {
	width: 50%;
	text-align: center;

}

.footer_text a{
	color: white;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 10px;
	display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    
    transition: 0.1s;
}

.footer_text a:hover {
	transform: scale(1.1);
	color: #bff3ff;

}

.footer_menu {
	margin-top: 6px;
	width: 300px;
	height: 300px;
}

.footer_menu a {
	margin-bottom: 60px;
	font-size: 25px;
	font-weight: 100;
	display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    
    transition: 0.1s;

}

.footer_menu div {
	margin-bottom: 60px;
	font-size: 25px;
	font-weight: 100;
	display: block;
    text-align: center;
    text-decoration: none;
    transition: 0.1s;

}


.footer_menu a:hover {
	transform: scale(1.1);
	color: #bff3ff;

}

.scale {
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	transition: .2s;
}

.scale:hover {
	transform: scale(1.1);
}

.hover {
	transition: .3s;
}

.hover:hover {
	transform: scale(1.1);
	color: #bff3ff;
}

.active{
	transform: scale(1.1);
	color: #bff3ff;
	
}

.open {
	position: absolute;
	z-index: 5001;
	transform: scale(1.7);
}

.blur_off {
	position: fixed;
	z-index: -1;
	width: 0;
	height: 0;
	top: 0;
	left: 0; 
}

.blur_on {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(30, 30, 30, 0.85);
	backdrop-filter: blur(3px); 
}

